body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.form-auth {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-auth h2 {
    text-align: center;
}

.register {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
}

.form-auth .form-auth-heading,
.form-auth .checkbox {
    margin-bottom: 10px;
}
.form-auth .checkbox {
    font-weight: normal;
}
.form-auth .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-auth .form-control:focus {
    z-index: 2;
}
.form-auth input {
    margin-bottom: -1px;
    border-radius: 0;
}

.form-auth input[type="email"] {
    margin-bottom: 10px;
}