.radius-block {
    margin-top: 10px;
    margin-left: 62px;
    width: 123px;
    height: 123px;
    box-sizing: border-box;
    float: left;
}

.radius-block .arc {
    stroke-weight: 0.1;
    fill: #f0a417;
}

.statistic-block
{
    background:#FFFFFF;
    border-radius: 5px;
    color: #000;
    text-align: center;
}

.radial {
    border-radius: 3px;
    background: #FFFFFF;
    color: #000;

}

.component {
    fill: #FFF;
}

.component .label {
    font-family: Myriad, "Helvetic Neue", Helvetica, Arial;
    text-anchor: middle;
    fill: #0000FF;
}

.arc {
    stroke-weight:0.1;
    fill: #4e8fff;
}


.arc2 {
    stroke-weight:0.1;
    fill: #3660b0;
}


.label {
    font-family:  Myriad, "Helvetic Neue", Helvetica, Arial;
    text-anchor: middle;
}

.radial-svg {
    display: block;
    margin: 0 auto;
}